@using System;
@using D = System.Data;
@using c = System.Data.SqlClient;
<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta content="We are Rotgut Whines of Montana, USA. The world's only.... Finger Pickin' Soul n' Roll" name="description">
    <meta itemprop="genre" content="Finger Pickin' Soul n' Roll">
    <meta content="noodp" name="robots">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Chris Murphy">
    <title>ROTGUT WHINES</title>
    <!--style-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link href="style.css" rel="stylesheet" />
    <!--javascript-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="shortcut icon" href="/rotgutwhines.ico" type="image/x-icon">
<link rel="icon" href="/rotgutwhines.ico" type="image/x-icon">
   
</head>
<body>
    
  <div class="container" itemtype="http://schema.org/MusicGroup" >
   <div id="mainDiv">
      <h1 itemprop="name"><b>ROTGUT WHINES</b></h1>
      <div id="nav">
        <a href="#Shows" ><b>Tour</b></a> 
        <a target="_blank" href="http://riochantel.pass.us/rotgutwhinesvfw/"><b>Photos</b></a>
        <a  href="#aboutUs" style="white-space: nowrap;"><b>AboutUs</b></a>
        <a  href="mailto:rotgutwhines@gmail.com" target="_top"><b>ContactUs</b></a>
     
       
      </div>
      <div id="navSoc">
        <a target="_blank" href="https://www.facebook.com/rotgutwhines/"><img src="facebook-logo.png"></a>
        <a target="_blank" href="http://instagram.com/rotgutwhines" id="instaDesk"><img src="instagran-logo.png" ></a>
        <a target="_blank" href="instagram://user?username=rotgutwhines" id="instaMobile"><img src="instagran-logo.png" ></a>
        <a target="_blank" href="https://soundcloud.com/rotgut-whines"><img src="soundcloud-4-xxl (1).png"></a>
      
      </div>
    </div>
    
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/AVtl5tkIq7g" frameborder="0" allowfullscreenn></iframe>
   
   <div >
     <a class="anchor" id="Shows"> </a>
     <h4><b>Upcoming Shows</b></h4>
       </p>
        <p><a target="_blank" href="https://www.facebook.com/events/352685885113037/">Jan. 7th - Draught Works Brewery, Missoula MT 6-8pm</a></p>
         <p><a target="_blank" href="http://tophatlounge.com/event/rotgut-whines-8757/">Jan. 12th - The Top Hat, Missoula MT 10pm</a></p>
         <p><a target ="_blank"href="https://www.facebook.com/events/1234467849975788/">Jan. 13th - Jesters Bar, Helena MT 11pm</a></p>
          <p><a>Feb. 18th - The Top Hat, Missoula MT 10pm</a></p>
          <p><a>Feb. 25th - Jesters Bar, Helena MT 11pm</a></p>
          <br>
        <h4><b>Shows</b></h4>
         <p> <a target="_blanlk" href="https://www.facebook.com/events/1579963215644162/">Dec. 7th - Monks Bar, Missoula MT 9pm</a>
        </p>
        
     </div>
     <br>

    <div>
      <a class="anchor" id="aboutUs"></a>
      <h4><b>About Us</b></h4>
        <p>
        Rotgut Whines combines soulful rhythms with energizing tempos and passionate storytelling to create their signature sound: Fingerpickin' Soul and Roll. Lead singer/guitarist Evan Manuel and drummer/backup vocalist Andrew Murphy prove wrong the old adage that there is more strength in numbers. Murphy's crisp beats and deep baritone voice provide the perfect supplements to Manuel's flying fingers and catchy melodies. First-time listeners are often shocked at the pair's ability to create the powerful sound some fans have described as "magic."
      </p>
      <p>
        Though born on opposite coasts, the duo met in the Montana mountans in late 2014, when they became roommates and bonded over a shared love of music. Rotgut Whines was officially formed in April 2015 and, one year later, the bandmates moved to Missoula with plans to record their first album. Still roommates, the ease of their friendship is obvious on stage and creates an effortless vibe that captivates audiences. Their palpable energy and passion make it impossible not to get up and dance.
      </p>
      <br>
      
      <a href="mailto:rotgutwhines@gmail.com"><b> booking rotgutwhines@gmail.com </b></a>
      
      
    </div>
      <br>
      <br>
         <div style="text-align: center; background-color: white; color: #ccccccc;">
    site design and hosting<a target="_blank" href="http://www.sonichood.com" style="color: #999999;"> The SonicHood </a>
    </div>
    
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90319376-1', 'auto');
  ga('send', 'pageview');

</script>
</html>